body {
    font-family: 'Rubik', sans-serif;
    background-color: #0c0d0d;
    color: white;
}

.links {
    transition: 0.3s;
    color: lime;
}

.links:hover {
    transition: 0.3s;
    color: rgb(0, 148, 0);
}

.plugingrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-left: auto;
    margin-right: auto;
}

.plugincontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 27, 29);
    border-radius: 15px;
    outline: solid;
    outline-color: rgb(0, 0, 0);
    width: 350px;
    height: 275px;
    padding-bottom: 70px;
    gap: 10px;
}

.plugincontainer p {
    text-align: center;
    margin: 0.05em 0;
}

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 40%;
    }

    .header a {
        width: 100%;
        box-sizing: border-box;
    }

    .toggleheaderbutton {
        display: block;
    }
}

.plugingrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-left: auto;
    margin-right: auto;
}

.pluginimage {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 8px;
    object-fit: cover;
}