body {
    font-family: 'Rubik', sans-serif;
    color: white;
}

html {
  height: 100%;
  background: 
    linear-gradient(-45deg, #003804, #00490c, #033113, #003610) 0/ 500%;
  animation: gradient 15s infinite alternate;
}

@keyframes gradient { to { background-position: 100% } }

.links {
    transition: 0.3s;
    color: lime;
}

.links:hover {
    transition: 0.3s;
    color: rgb(0, 148, 0);
}

.projectgrid {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.projectcontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 27, 29);
    border-radius: 15px;
    outline: solid;
    outline-color: rgb(0, 0, 0);
    width: 700px;
    height: 375px;
    padding-bottom: 70px;
    gap: 10px;
}

.projectcontainer p {
    text-align: center;
    margin: 0.05em 0;
}

.projectimage {
    width: 500px;
    height: 250px;
    margin-top: 30px;
    border-radius: 8px;
    object-fit: cover;
}